<div class="container">

  <h3> Menu del Dia </h3>

{{#if hideMenu}}
<div class="feedback">
  <p class="phrase"> Parece que ya has ordenado. </p> <br>
  <a href="/feedback" class="feedback-link"> Tienes propuestas, dudas o comentarios que nos ayuden a mejorar? </a>
</div>

{{else}}

<form class="row order-form">
  <div class="col s12 m4 form">
    <div class="icon">
      <img src="/assets/images/icons/png/meat.png" alt="">
      <h5> Proteinas </h5>
    </div>

    <div class="input-field">
      <div class="question">
        {{#each menu.proteins as |protein|}}
          <p>
            <input  type="radio" name="protein" id={{protein.id}} onchange={{action "selectProtein" protein.name}} />
            <label for={{protein.id}}>{{protein.name}}</label>
          </p>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col s12 m4 form">
    <div class="icon">
      <img src="/assets/images/icons/png/salad.png" alt="">
      <h5> Acompañamientos </h5>
    </div>

    <div class="input-field">
      <div class="question">
        {{#each menu.accomps as |accomp index|}}
          <p>
            <input type="checkbox" id={{accomp.id}} onchange={{action "selectAccomp" accomp index}}/>
            <label for={{accomp.id}}>{{accomp.name}}</label>
          </p>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col s12 m4 form">
    <div class="icon">
      <img src="/assets/images/icons/png/potatoes.png" alt="">
      <h5> Adicionales </h5>
    </div>

    <div class="input-field">
      <div class="question">
        {{#each menu.additions as |addition index|}}
          <p>
            <input type="radio" id={{addition.id}} value={{addition.name}} onchange={{action "selectAddition" addition.name}}/>
            <label for={{addition.id}}>{{addition.name}}</label>
          </p>
        {{/each}}
      </div>
    </div>
  </div>
</form>

<form class="row">
  {{#if showSoup}}
    <div class="col s12 m4 form">
      <div class="col s12 icon">
        <img src="/assets/images/icons/png/soup.png" alt="">
        <h5> Sopa de {{menu.soup}}</h5>
      </div>

      <div class="switch">
        <label>
          No
          <input id="soupCheck" type="checkbox">
          <span class="lever"></span>
          Si
        </label>
      </div>
    </div>
  {{/if}}

  {{#if showDrink}}
    <div class="col s12 m4 form">
      <div class="col s12 icon">
        <img src="/assets/images/icons/png/soda.png" alt="">
        <h5> {{menu.drink}} </h5>
      </div>
      <div class="switch" >
        <label>
          No
          <input id="drinkCheck" type="checkbox">
          <span class="lever"></span>
          Si
        </label>
      </div>
    </div>
  {{/if}}
</form>

<div class="divider"></div>
<button class="btn waves-effect waves-light pink lighten-1" type="submit" name="action" {{action "saveOrder"}}> Enviar
    <i class="material-icons right">send</i>
</button>

{{/if}}

  <div class="menu-btn">
    <div class="fixed-action-btn horizontal click-to-toggle">
      <a class="btn-floating btn-large light-blue lighten-1">
        <i class="material-icons">menu</i>
      </a>
      <ul>
        {{#if showAdminSettings}}
          <li><a href='/new' class="btn-floating light-blue lighten-3">  <i class="material-icons">restaurant</i>  </a></li>
          <li><a class="btn-floating light-blue lighten-2">  <i class="material-icons">notifications_none</i>  </a></li>
          <li><a href='/orders' class="btn-floating light-blue lighten-1">  <i class="material-icons">playlist_add_check</i>  </a></li>
        {{/if}}
        <li><a {{action "logOut"}} class="btn-floating light-blue">  <i class="material-icons">exit_to_app</i> </a></li>
      </ul>
    </div>
  </div>

{{#if showLoadingGreet}}
  {{loading-component user=user.displayName}}
{{/if}}
</div>
