{{#if showLoading}}
  <div class="modal-component preloader valign-wrapper">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
{{else}}
  <div class="container">

    <div class="page-title">
      <h4> Nuevo Menu </h4>
    </div>
    <div class="divider"></div>

  <form class="row">
    <div class="col s12 m4">
      <div class="form">
        <div class="icon">
          <h5> Proteinas </h5>
        </div>

        <div class="input-field">
          <div class="question">
            {{#each menu.proteins as |protein|}}
              <p>
                {{input class="validate" type="text" placeholder="Proteina" id=protein.id value=protein.name}}
              </p>
            {{/each}}

            <div class="add">
              <button class="add-button" type="button" name="button" {{action 'addProtein' }}> <i class="material-icons">add_circle_outline</i> </button>
              <button class="remove-button" type="button" name="button" {{action 'deleteLastItem' 'proteins'}}> <i class="material-icons">remove_circle_outline</i> </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m4 ">
      <div class="form">
        <div class="icon">
          <h5> Acompañamientos </h5>
        </div>

        <div class="input-field">
          <div class="question">
            {{#each menu.accomps as |accomp|}}
            <p>
              {{input class="validate" type="text" placeholder="Acompañamiento" id=accomp.id value=accomp.name}}
            </p>
            {{/each}}

            <div class="add">
              <button class="add-button" type="button" name="button" {{action "addAccomp"}}> <i class="material-icons">add_circle_outline</i> </button>
              <button class="remove-button" type="button" name="button" {{action 'deleteLastItem' 'accomps'}}> <i class="material-icons">remove_circle_outline</i> </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="form">
        <div class="icon">
          <h5> Adicionales </h5>
        </div>

        <div class="input-field">
          <div class="question">
            {{#each menu.additions as |addition|}}
            <p>
              {{input class="validate" type="text" placeholder="Adicionales" id=addition.id value=addition.name}}
            </p>
            {{/each}}

            <div class="add">
              <button class="add-button" type="button" name="button" {{action "addAddition"}}> <i class="material-icons">add_circle_outline</i> </button>
              <button class="remove-button" type="button" name="button" {{action 'deleteLastItem' 'additions'}}> <i class="material-icons">remove_circle_outline</i> </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <form class="row">
    <div class="col s12 m4 ">
      <div class="form">
        <div class="icon">
          <h5> Sopa </h5>
        </div>
        <div class="switch-container">
          <div class="switch">
            <label>
              No
              <input id="soupCheck" type="checkbox" checked={{addSoup}} onchange={{action 'enableOption' 'addSoup' 'soupCheck'}}>
              <span class="lever"></span>
              Si
            </label>
          </div>
        </div>

        {{#if addSoup}}
        <p class="descp-input"> {{input class="validate" type="text" placeholder="Sopa de ..." id="soupType" value=menu.soup}}</p>
        {{/if}}
      </div>
    </div>

    <div class="col s12 m4 ">
      <div class="form">
        <div class="icon">
          <h5> Bebida </h5>
        </div>
        <div class="switch-container">
          <div class="switch">
            <label>
              No
              <input id="drinkCheck" type="checkbox" checked={{addDrink}} onchange={{action 'enableOption' 'addDrink' 'drinkCheck'}}>
              <span class="lever"></span>
              Si
            </label>
          </div>
        </div>

        {{#if addDrink}}
        <p class="descp-input">{{input class="validate" type="text" placeholder="Bebida de ..." id="drinkType" value=menu.drink}}</p>
        {{/if}}
      </div>
    </div>
  </form>

  <div class="right-align">
    <button class="btn waves-effect waves-light   cyan" type="submit" name="action" {{action "saveMenu"}}> Guardar </button>
  </div>

  {{#if deleteError}}
    <div class="alert">
      Debes agregar al menos una opcion para cada componente de tu menu.
    </div>
  {{/if}}

  {{#if addError}}
    <div class="alert">
      Por favor no dejes opciones vacias.
    </div>
  {{/if}}

  {{#if addSoupError}}
    <div class="alert">
      Por favor, completa el campo de "Sopa" o desabilitado.
    </div>
  {{/if}}

  {{#if addDrinkError}}
    <div class="alert">
      Por favor, completa el campo de "Bebida" o desabilitado.
    </div>
  {{/if}}

  </div>


  {{#if menuIncomplete}}
  <div class="modal-component valign-wrapper">
    <div class="modal-container valign-wrapper menuIncomplete">
      <div class="img errorIncompleteMenu"></div>
      <p>
        Hola! <br>
        Parece que no has completado el menu del dia, recuerda que un plato o menu saludable se compone proteinas, grasas y carbohidratos. <br>
        Por favor agrega mas alimentos.
      </p>

      <div class="close" {{action "closeModal"}}>
        <i class="fa fa-times"></i>
      </div>
    </div>
  </div>
  {{/if}}

{{/if}}
