{{#if notOrdersYet}}
  <div class="noOrders">
    <img src="/assets/images/icons/linear/chef.svg" alt="">
    <div class="description">
      <h3 class="phrase"> Aun no hay ordenes disponibles.</h3>
      <span> Seras notificado cuando las ordenes esten listas. </span> <br>
      <span> Para hacerlo mas rapido {{#link-to "notify" }} notifica al equipo {{/link-to}} </span>
    </div>
  </div>
{{else}}

<div class="orders-container container">
  <div class="page-title">
    <h4> Ordenes </h4>
  </div>

  <div class="divider"></div>

  <div class="orders-tools form">
    <div class="orders-info">
      <span> <strong>Fecha:</strong> {{ordersDate}} </span>
      <span> <strong>Numero de sopas:</strong> {{numberSoups}} </span>
      <span> <strong>Numero de bebidas:</strong> {{numberDrinks}} </span>
    </div>


    <div class="export-send-tools">
      <a class="waves-effect waves-light btn-flat"> Exportar Archivo </a>
      <button class="btn waves-effect waves-light cyan"> Enviar Ordenes </button>
    </div>
  </div>
</div>

<div class="orders-container container">
  <div class="table-wraper">
    <table class="bordered highlight orders">
      <thead>
        <tr>
            <th> <strong>  Nombre          </strong>     </th>
            <th> <strong>  Proteina        </strong>     </th>
            <th> <strong>  Acompañamientos </strong>     </th>
            <th> <strong>  Adicionales     </strong>     </th>
        </tr>
      </thead>

      <tbody>
        {{#each orders as |order|}}
        <tr>
          <td> {{order.user.displayName}} </td>
          <td> {{order.order.protein}}</td>
          <td>
            <ul>
              {{#each order.order.accomps as |accomps|}}
                <li> {{accomps}} </li>
              {{/each}}
            </ul>
          </td>
          <td> {{order.order.addition}} </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{/if}}
